<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light" th:fragment="copy">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img th:src="@{/images/logo2.png}" alt="Image" height="60">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>

      <div class="d-flex dropdown" th:if="${user != null}">
        <button class="btn btn-info btn-lg dropdown-toggle" type="button" id="dropdownMenuButton" th:text="${user.username}" data-bs-toggle="dropdown" aria-expanded="false">
          USERNAME
        </button>

        <ul class="dropdown-menu dropdown-menu-end " aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item">Your Profile</a></li>
          <li><a class="dropdown-item" href="#">Saved Images</a></li>
          <li><hr class="dropdown-divider"></li>
          <li>
            <form action="/" th:action="@{/logout}" method="post">
              <button type="submit" class="dropdown-item btn btn-secondary btn-lg">
                <span>Sign out</span>
              </button>
            </form>
          </li>
        </ul>
      </div>

      <div class="d-flex" th:if="${user == null}">
<!--        <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#loginModal">-->
<!--          <span>Log in</span>-->
<!--        </button>-->

<!--        <button class="btn btn-primary ms-3" data-bs-toggle="modal" data-bs-target="#signupModal">-->
<!--          <span>Sign up</span>-->
<!--        </button>-->

        <button class="btn btn-secondary" th:onclick="|location.href='@{/login}'|">
          <span>Log in</span>
        </button>

        <button class="btn btn-primary ms-3" th:onclick="|location.href='@{/signup}'|">
          <span>Sign up</span>
        </button>
      </div>
    </div>
  </div>
</nav>