<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light" th:fragment="copy">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img th:src="@{/images/logo2.png}" alt="Image" height="60">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>

      <div class="d-flex">
        <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#loginModal">
          <span>Log in</span>
        </button>
        <button class="btn btn-primary ms-3">
          <span>Sign up</span>
        </button>
      </div>
    </div>
  </div>
</nav>