<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light" th:fragment="navbar">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img th:src="@{/images/logo2.png}" alt="Image" height="60">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/" th:text="#{navbar.menu.home}"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/public-gallery}" th:text="#{navbar.menu.gallery}"></a>
        </li>
      </ul>

      <div class="d-flex dropdown" sec:authorize="isAuthenticated()">
        <button class="btn btn-info btn-lg dropdown-toggle" type="button" id="dropdownMenuButton" sec:authentication="name" data-bs-toggle="dropdown" aria-expanded="false">
          USERNAME
        </button>

        <ul class="dropdown-menu dropdown-menu-end " aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" th:href="@{/user-info}" th:text="#{label.user.profile}">Your Profile</a></li>
          <li><a class="dropdown-item" th:href="@{/my-gallery}" th:text="#{label.user.myGallery}">My Gallery</a></li>
          <li><hr class="dropdown-divider"></li>
          <li>
            <form action="/" th:action="@{/logout}" method="post">
              <button type="submit" class="dropdown-item btn btn-secondary btn-lg" th:text="#{button.signout}"></button>
            </form>
          </li>
        </ul>
      </div>

      <div class="d-flex" sec:authorize="isAnonymous()">
        <button class="btn btn-secondary" th:onclick="|location.href='@{/login}'|" th:text="#{login.header}"></button>
        <button class="btn btn-primary ms-3" th:onclick="|location.href='@{/signup}'|" th:text="#{signup.header}"></button>
      </div>
    </div>
  </div>
</nav>