<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragment/head :: head}">
  <title>Login | AImage</title>
</head>

<body>
  <div class="container" style="padding-top: 5%; max-width: 450px">
    <div class="my-5">
      <h2 class="text-center w-100" th:text="#{login.header}"></h2>
    </div>

    <div class="container">
      <form>
        <div class="field-error pb-3" id="login.fail" style="display: none;"></div>

        <div class="md-form mb-4">
          <input type="email" class="form-control form-control-lg" id="email" th:placeholder="#{placeholder.email}">
        </div>
        <div class="md-form mb-4">
          <input type="password" class="form-control form-control-lg" id="password" th:placeholder="#{placeholder.password}">
          <p class="font-small blue-text d-flex justify-content-end">
            <a th:href="@{/pwInquiry}" class="blue-text ml-1" th:text="#{login.info.forgot}"></a>
          </p>
        </div>
        <div class="row">
          <div class="col text-center mb-3 py-3">
            <button type="button" onclick="location.href='/'" class="btn btn-secondary btn-lg blue-gradient btn-block btn-rounded waves-effect" th:text="#{button.cancel}">Cancel</button>
          </div>
          <div class="col text-center mb-3 py-3">
            <button type="button" class="btn btn-primary btn-lg blue-gradient btn-block btn-rounded waves-effect" onclick="onLogin()" th:text="#{login.header}">Login</button>
          </div>
        </div>
      </form>

      <form action="#" method="GET" class="form-signin">
        <p class="font-small dark-grey-text text-center my-4" th:text="#{login.info.alt}"></p>
        <div class="row justify-content-center">
          <button type="submit" class="btn btn-primary btn-lg btn-rounded btn-floating mx-2 waves-effect"><i class="fab fa-facebook-f"></i></button>
          <button type="submit" class="btn btn-primary btn-lg btn-rounded btn-floating mx-2 waves-effect"><i class="fab fa-twitter"></i></button>
          <button type="submit" class="btn btn-primary btn-lg btn-rounded btn-floating mx-2 waves-effect"><i class="fab fa-google-plus-g"></i></button>
        </div>
      </form>
    </div>

    <div class="mx-5 pt-5">
      <p class="font-small grey-text text-center">[[#{login.info.notMember}]]
        <a th:href="@{/signup}" class="blue-text ml-1" th:text="#{signup.header}">Sign Up</a>
      </p>
    </div>
  </div>
  <script th:src="@{/js/login.js}"></script>
</body>
</html>
