<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragment/head :: head}">
  <title>Online AI Image Generator - AImage</title>
</head>
<body>

  <header>
    <div th:insert="~{fragment/navbar :: navbar}"></div>
  </header>

  <!-- Carousel wrapper -->
  <div class="text-center"
       style="padding: 10%;"
       th:with="images=${pagedImages.images}, start=${pagedImages.pageStart}, end=(${pagedImages.pageEnd})">

    <div class="text-center pb-5">
      <h1 th:text="#{myGallery.header}">My Gallery</h1>
    </div>

    <p id="loginUserId" th:text="${session.loginUser.id}" style="display: none;"></p>

    <!-- Inner -->
    <div class="carousel-inner py-4">
      <!-- Single item -->
      <div class="carousel-item active">
        <div class="container">
          <div class="row">

            <div class="col" th:each="image : ${images.content}">
              <div class="card" id="imageCard">
                <div id="imageId" th:text="${image.id}" style="display: none;"></div>
                <a>
                  <img th:src="${image.url}" class="card-img-top float-left" />
                </a>
                <div class="card-body">
                  <p class="card-text" th:text="${image.prompt}"></p>
                  <button type="button" class="btn btn-danger" onclick="onDeleteImage()" th:text="#{button.delete}"></button>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- Inner -->

    <nav style="text-align: center;">
      <ul class="pagination justify-content-center">

        <li class="page-item" th:classappend="${images.first} ? 'disabled'">
          <a class="page-link" th:href="@{/myGallery(page=start)}" aria-label="First">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>

        <li class="page-item" th:classappend="${images.first} ? 'disabled'">
          <a class="page-link" th:href="${images.first} ? '#' : @{/myGallery(page=${images.number})}" aria-label="Previous">
            <span aria-hidden="true">&lt;</span>
          </a>
        </li>

        <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${page == images.number + 1} ? 'active'">
          <a class="page-link" th:text="${page}" th:href="@{/myGallery(page=${page})}"></a>
        </li>

        <li class="page-item" th:classappend="${images.last} ? 'disabled'">
          <a class="page-link" th:href="${images.last} ? '#' : @{/myGallery(page=${images.number + 2})}" aria-label="Next">
            <span aria-hidden="true">&gt;</span>
          </a>
        </li>

        <li class="page-item" th:classappend="${images.last} ? 'disabled'">
          <a class="page-link" th:href="@{/myGallery(page=${images.totalPages})}" aria-label="Last">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>

      </ul>
    </nav>

  </div>
<script th:src="@{/js/users/myGallery.js}"></script>
</body>
</html>