<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragment/head :: head}">
  <title>Online AI Image Generator - AImage</title>
</head>
<body>

  <header>
    <div th:insert="~{fragment/navbar :: navbar}"></div>
  </header>

  <!-- Carousel wrapper -->
  <div
          id="carouselMultiItemExample"
          class="carousel slide carousel-dark text-center"
          data-mdb-ride="carousel"
          style="padding: 10%;"
  >
    <div class="text-center pb-5">
      <h1 th:text="#{myGallery.header}">My Gallery</h1>
    </div>

    <p id="loginUserId" th:text="${session.loginUser.id}" style="display: none;"></p>

    <!-- Inner -->
    <div class="carousel-inner py-4">
      <!-- Single item -->
      <div class="carousel-item active">
        <div class="container">
          <div class="row">
            <div class="col" th:each="image : ${savedImages}">
              <div class="card" id="imageCard">
                <div id="imageId" th:text="${image.id}" style="display: none;"></div>
                <a>
                  <img th:src="${image.url}" class="card-img-top" />
                </a>
                <div class="card-body">
                  <p class="card-text" th:text="${image.prompt}"></p>
                  <button type="button" class="btn btn-danger" onclick="onDeleteImage()" th:text="#{button.delete}"></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Inner -->

  </div>
<script th:src="@{/js/users/myGallery.js}"></script>
</body>
</html>