<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragment/head :: head}">
  <title>Sign Up | AImage</title>
</head>

<body>
  <div class="container" style="padding-top: 5%; max-width: 450px">

    <div class="my-5">
      <h2 class="text-center w-100" th:text="#{signup.header}"></h2>
    </div>

    <div class="container">
      <form>
        <div class="md-form mb-4">
          <input type="text" class="form-control form-control-lg" id="username" th:placeholder="#{placeholder.username}">
          <div class="field-error" id="usernameError" style="display: none;"></div>
        </div>
        <div class="md-form mb-4">
          <input type="email" class="form-control form-control-lg" id="email" th:placeholder="#{placeholder.email}">
          <div class="field-error" id="emailError" style="display: none;"></div>
        </div>
        <div class="md-form mb-4">
          <input type="password" class="form-control form-control-lg" id="password" th:placeholder="#{placeholder.password}">
          <div class="field-error" id="passwordError" style="display: none;"></div>
        </div>
        <div class="md-form mb-4">
          <input type="password" class="form-control form-control-lg" id="confirmPassword" th:placeholder="#{placeholder.confirmPassword}">
          <div class="field-error" id="confirmPasswordError" style="display: none;"></div>
        </div>
        <div class="row">
          <div class="col text-center mb-3 py-3">
            <button type="button" onclick="location.href='/'" class="btn btn-secondary btn-lg blue-gradient btn-block btn-rounded waves-effect" th:text="#{button.cancel}">Cancel</button>
          </div>
          <div class="col text-center mb-3 py-3">
            <button type="button" class="btn btn-primary btn-lg blue-gradient btn-block btn-rounded waves-effect" th:text="#{signup.header}" onclick="onSignup()">Sign Up</button>
          </div>
        </div>
      </form>
    </div>

    <div class="mx-5 py-5">
      <p class="font-small grey-text text-center">[[#{signup.info.alreadyUser}]]
        <a th:href="@{/login}" class="blue-text ml-1" th:text="#{login.header}">Login</a>
      </p>
    </div>
  </div>
  <script th:src="@{/js/signup.js}"></script>
</body>
</html>
