/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Quicksand:wght@300;400;500;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,700&display=swap');

body {
  /* font-family: 'DM Serif Display', serif; */
  /* font-family: 'Ubuntu', sans-serif; */
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  overflow-y: scroll;
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 700;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-container {
  padding-top: 10%;
}

.prompt {
  text-align: center;
  padding-bottom: 5%;
}

.img-result {
  border: 5px solid #555;
}

.card {
  height: 100%;
}