<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragment/head/head :: copy}">
  <title>Online AI Image Generator - AImage</title>
</head>

<body>
  <header>
    <div th:insert="~{fragment/header/navbar :: copy}"></div>
<!--    <div th:if="${user}" th:insert="~{login/login-modal :: copy}"></div>-->
<!--    <div th:if="${user}" th:insert="~{login/signup :: copy}"></div>-->
  </header>
  
  <section class="intro">
    <div class="container p-5">
      <div class="row py-5">
        <div class="col-lg-6 py-5">
          <h1>Online AI Image Generator</h1>
          <h5 class="py-3">
            <p class="text-muted">Watch your words and phrases transform into beautiful images with Text to Image.</p>
          </h5>

          <div th:if="${user == null}">
            <a class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#loginModal" th:href="@{/}">Generate AI Images »</a>
            <div th:insert="~{login/loginSuggestModal :: copy}"></div>
          </div>

          <a class="btn btn-primary" th:href="@{/generate}" th:if="${user != null}" >Generate AI Images »</a>
        </div>
        <div class="col-lg-6 py-5">
          <img th:src="@{/images/ai_image.jpeg}" alt="Image" class="img-fluid">
        </div>
      </div>
    </div>
  </section>

  <section class="how-to">
    <div class="container p-5">
      <h2>How to Generate an AI Image</h2>
      <div class="row py-4">
        <div class="col-lg-4">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title"><b>1. Enter your text prompt</b></h3>
              <br>
              <p class="card-text">The more detailed the description, the more likely you are to get the result you want.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title"><b>2. Select a size</b></h3>
              <br>
              <p class="card-text">Generated images can have a size of <u>256x256</u>, <u>512x512</u>, or <u>1024x1024</u> pixels. <b>Smaller sizes are faster to generate</b>.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title"><b>3. Generate image</b></h3>
              <br>
              <p class="card-text">Click <b>Generate</b> button to begin the AI image creation process.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <span class="text-muted">&copy; 2023 AImage. All rights reserved.</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
    </ul>
  </footer>

</body>
</html>