<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="~{fragment/head :: head}">
  <title>Online AI Image Generator - AImage</title>
</head>

<body>
  <header>
    <div th:insert="~{fragment/navbar :: navbar}"></div>
  </header>
  
  <section class="intro">
    <div class="container p-5">
      <div class="row py-5">
        <div class="col-lg-6 py-5">
          <h1 th:text="#{home.header}">Header</h1>
          <h5 class="py-3">
            <p class="text-muted" th:text="#{home.summary}">Summary</p>
          </h5>

          <div sec:authorize="isAnonymous()">
            <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#loginModal" th:href="@{/}" th:text="#{home.generateButton}">Generate</a>
            <div th:insert="~{user/loginSuggestModal :: copy}"></div>
          </div>

          <div sec:authorize="isAuthenticated()">
            <a class="btn btn-primary" th:href="@{/generator}" th:utext="#{home.generateButton}"></a>
          </div>

        </div>
        <div class="col-lg-6 py-5">
          <img th:src="@{/images/ai_image.jpeg}" alt="Image" class="img-fluid">
        </div>
      </div>
    </div>
  </section>

  <section class="how-to">
    <div class="container p-5">
      <h2 th:text="#{home.howto.header}"></h2>
      <div class="row py-4">
        <div class="col-lg-4">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title" th:utext="#{home.howto.first}"></h3>
              <br>
              <p class="card-text" th:text="#{home.howto.first.detail}"></p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title" th:utext="#{home.howto.second}"></h3><br>
              <p class="card-text" th:utext="#{home.howto.second.detail}"></p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title" th:utext="#{home.howto.third}"></h3><br>
              <p class="card-text" th:utext="#{home.howto.third.detail}"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <span class="text-muted">&copy; 2023 AImage. All rights reserved.</span>
    </div>
  </footer>

</body>
</html>