<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="copy">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.1/mdb.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
  <link rel="stylesheet" th:href="@{/css/style.css}">

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="180x180" th:href="@{/favicon/apple-touch-icon.png}">
  <link rel="icon" type="image/png" sizes="32x32" th:href="@{/favicon/favicon-32x32.png}">
  <link rel="icon" type="image/png" sizes="16x16" th:href="@{/favicon/favicon-16x16.png}">
  <link rel="manifest" th:href="@{/favicon/site.webmanifest}">

  <script th:src="@{/js/bootstrap.min.js}"></script>
  <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.1/mdb.min.js"></script>

  <title>[[#{home.header}]] - AImage</title>
</head>