<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragment/head :: head}">
  <title>Find Password | AImage</title>
</head>
<body>
<div class="container" style="padding-top: 5%; max-width: 450px">
  <div class="my-5">
    <h2 class="text-center w-100" th:text="#{resetPassword.header}"></h2>
  </div>

  <div class="container">
    <form th:object="${updatePassword}" method="post">
      <div th:if="${#fields.hasGlobalErrors()}">
        <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">글로벌 오류 메시지</p>
      </div>

      <div class="md-form mb-4">
        <input type="password" class="form-control form-control-lg" th:field="*{password}" th:errorclass="field-error" th:placeholder="#{placeholder.newPassword}">
        <div class="field-error" th:errors="*{password}"></div>
      </div>
      <div class="md-form mb-4">
        <input type="password" class="form-control form-control-lg" th:field="*{confirmPassword}" th:errorclass="field-error" th:placeholder="#{placeholder.confirmPassword}">
        <div class="field-error" th:errors="*{confirmPassword}"></div>
      </div>

      <div class="row">
        <div class="col text-center mb-3 py-3">
          <button type="button" th:onclick="|location.href='@{/login}'|" class="btn btn-secondary btn-lg blue-gradient btn-block btn-rounded waves-effect" th:text="#{button.cancel}">Cancel</button>
        </div>
        <div class="col text-center mb-3 py-3">
          <button type="submit" class="btn btn-primary btn-lg blue-gradient btn-block btn-rounded waves-effect" th:text="#{button.ok}">Update Password</button>
        </div>
      </div>
    </form>
  </div>

</div>

</body>
</html>